{% extends "base.html" %}
{% block title %}Update Time{% endblock %}
{% block content %}

<div class="container">
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            <label for="date">Date</label>
            <input type="date" class="input-field" id="date" name="date" value="{{date}}">
            <label for="time">Time (In Hours)</label>
            <input type="number" class="input-field" id="time" name="duration" value="{{data.duration}}">
            <button type="submit" class="submit-btn">Submit</button>
        </form>
        <br>
        <form action="/time/delete/{{data.id}}/" method="post">
            {% csrf_token %}
            <button type="submit" class="delete-btn">Delete</button>
        </form>
    </div>
</div>

<style>
    .container {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .form {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
        display: block;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .input-field:focus {
        border-color: #007bff;
        outline: none;
    }

    .submit-btn {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .submit-btn:hover {
        background-color: #0056b3;
    }
    .delete-btn {
        padding: 10px 15px;
        background-color: #e9184c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .delete-btn:hover {
        background-color: #a02406;
    }
</style>

{% endblock content %}
