body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0; /* Resetting body margin */
    padding: 0; /* Resetting body padding */
}

h2 {
    color: #6c757d;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #343a40;
    color: white;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    overflow: hidden;
}

.graph {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#stat, #stat2 {
    width: 250px;
    height: 250px;
}

.stats h4,
.stats h6 {
    margin: 0;
    color: #495057;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Sidebar Styling */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    overflow-y: hidden; /* Prevent scrollbar in sidebar */
}

.sidebar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.sidebar img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar .user-name {
    margin-bottom: 20px;
    font-weight: bold;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
}
