{% extends 'base.html' %}

{% block title %}Syllabus{% endblock %}

{% block content %}

<style>
.btnAdd{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.btnAdd:hover{
  background-color: #45a049;
}
.btnUpdate{
  background-color: #297ce9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btnUpdate:hover{
  background-color: #1e5aa7;
}

</style>
<link rel="stylesheet" href="/static/css/Syllabus.css">
<div class="margin-top">
  <body>
    <a href="add/" target="_blank" rel="noopener noreferrer"><button class="btnAdd">Add Chapter</button></a>
    <div class="container">
    <table>
      
     <tr>
      <th>Sr. </th>
      <th>Chapter's Name</th>
      <th>Subject</th>
      <th>Status </th>
      <th>Update </th>
    </tr>
      
    <tr>  {% for j  in data %} 
          <td>{{ forloop.counter }}</td>
        <td>{{j.Cname}}</td>
        <td>{{j.Subject}}</td>
        <td>{% if j.completed == True %}<input type="checkbox" checked > {% else %}<input type="checkbox" > {% endif %}</td>
        <td><a href="update/{{j.id}}"><button class="btnUpdate">Update</button></a></td>
      </tr>
    {% endfor %}
    </table>
    
    </div>  

{% comment %} 
    <table>
        <h2>👩‍🔬🧬 Biology 🧬👩‍🔬 </h2>
        <h2> 💪 {{ bp }} %  Completed 💪</h2>
      <tr>
        <th>Sr. </th>
        <th>Chapter's Name</th>
        <th>Status </th>
        <th>Update </th>
      </tr>
      {% for i in bio %}
      <tr>
            <td>{{ forloop.counter }}</td>
          <td>{{i.Cname}}</td>
          <td>{% if i.completed == True %}<input type="checkbox" checked> {% else %}<input type="checkbox" > {% endif %}</td>
          <td><a href="update/{{i.id}}"><button class="btnUpdate">Update</button></a></td>
        </tr>
      {% endfor %}
    </table>

    <table>
        <h2>⚗️ Chemistry ⚗️</h2>
        <h2> 💪 {{ cp }} %  Completed 💪</h2>
      <tr> <th>Sr. </th>
        <th>Chapter's Name</th>
        <th>Status </th>
        <th>Update </th>
      </tr>
      {% for i in chem %}
      <tr>
         <td>{{ forloop.counter }}</td>
          <td>{{i.Cname}}</td>
          <td>{% if i.completed == True %}<input type="checkbox" checked> {% else %}<input type="checkbox" > {% endif %}</td>
          <td><a href="update/{{i.id}}"><button class="btnUpdate">Update</button></a></td>
      
        </tr>
      {% endfor %}
    </table>

    <table>
        <h2>⚛️ Physics ⚛️</h2>
        <h2> 💪 {{ pp }} %  Completed 💪</h2>
      <tr> <th>Sr. </th>
        <th>Chapter's Name</th>
        <th>Status </th>
        <th>Update </th>
      </tr>
      {% for i in phy %}
      <tr>
         <td>{{ forloop.counter }}</td>
          <td>{{i.Cname}}</td>
          <td>{% if i.completed == True %}<input type="checkbox" checked> {% else %}<input type="checkbox" > {% endif %}</td>
          <td><a href="update/{{i.id}}"><button class="btnUpdate">Update</button></a></td>
      
        </tr>
      {% endfor %}
    </table>

    <table>
        <h2>English</h2>
      <tr> <th>Sr. </th>
        <th>Chapter's Name</th>
        <th>Status </th>
      </tr>
      {% for i in eng %}
      <tr> <td>{{ forloop.counter }}</td>
          <td>{{i.Cname}}</td>
          <td>{% if i.completed == True %}<input type="checkbox" checked> {% else %}<input type="checkbox" > {% endif %}</td>
      </tr>
      {% endfor %}
    </table>

    <table>
        <h2>Hindi</h2>
      <tr> <th>Sr. </th>
        <th>Chapter's Name: </th>
        <th>Status </th>
      </tr>
      {% for i in hin %}
      <tr>
         <td>{{ forloop.counter }}</td>
          <td>{{i.Cname}}</td>
          <td>{% if i.completed == True %}<input type="checkbox" checked> {% else %}<input type="checkbox" > {% endif %}</td>
      </tr>
      {% endfor %}
    </table>{% endcomment %}

    <div class="stats">
      <div class="graph">
        <div class="card">
            <div id="stat" style="width: 250px; height: 250px;">
                <svg width="250" height="250"></svg>
            </div>
        </div>
        <div class="card">
            <div id="stat2" style="width: 250px; height: 250px;">
                <svg width="250" height="250"></svg>
            </div>
        </div>
      </div>
    </div>

  </body>
</div> 

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Bio',     {{bt}}],
      ['Phys',      {{pt}}],
      ['Chem',      {{ct}}],
      ['Eng',      {{et}}],
      ['Hin',      {{ht}}],
    ]);

    var options = {
      title: 'Total Chapters: {{tc}}'
    };

    var chart = new google.visualization.PieChart(document.getElementById('stat'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Bio',     {{btc}}],
      ['Phys',      {{ptc}}],
      ['Chem',      {{ctc}}],
      ['Eng',      {{etc}}],
      ['Hin',      {{htc}}],
    ]);

    var options = {
      title: 'Subjects Completed: '
    };

    var chart = new google.visualization.PieChart(document.getElementById('stat2'));
    chart.draw(data, options);
  }
</script>
{% endblock %}
