{% extends "base.html" %}
{% block title %}Update Syllabus{% endblock %}
{% block content %}

<div class="container">
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            
            <label for="Chapter">Chapter:</label>
            <input type="text" name="Chapter" placeholder="Enter Chapter's Name" class="input-field" value="{{ syal.Cname }}">
            
            <label for="Subject">Subject:</label>
            <input type="text" name="Subject" placeholder="Enter Subject's Name" class="input-field" value="{{ syal.Subject }}">
            <label for="completed">Completed:</label>
            <input type="checkbox" name="completed" {% if syal.completed %}checked{% endif %} id="completed"><br>

            <button type="submit" class="submit-btn">Submit</button>
        </form>
        <br>
        <form action="/todo/syallbuss/delete/{{syal.id}}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete-btn">Delete</button>
        </form>
    </div>
</div>

<style>
    .container {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .form {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
        display: block;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .input-field:focus {
        border-color: #007bff;
        outline: none;
    }

    .submit-btn {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .submit-btn:hover {
        background-color: #0056b3;
    }
    .delete-btn {
        padding: 10px 15px;
        background-color: #e9184c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .delete-btn:hover {
        background-color: #a02406;
    }
</style>

{% endblock content %}
